$black: #344861;
$hoverLight: #f3f6fa;
$hoverBlue: #bbdefb;
$focusedBlue: #def;
$showingCell: #e2e7ed;
$shownFocused: #cbdbed;
$blue: #4a90e2;
$gray: #94a4b7;
$red: #fb3d3f;
$bgRed: #f7d0d6;
$pencelNumber: #6e7c8d;
$font: "Source Sans Pro";
